<h1>Edit {{course.title}}</h1>
<form action="/courses/edit" method="POST" class="course-form">
<div class="input-field">
    <input id="title" name="title" value="{{course.title}}" type="text" class="validate" required>
    <label for="title">Course name</label>
    <span class="helper-text" data-error="Enter name"></span>
</div>
<div class="input-field">
    <input id="price" name="price" value="{{course.price}}" type="number" class="validate" required min="1">
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter price"></span>
</div>
<div class="input-field">
    <input id="image" name="image" value="{{course.image}}" type="text" class="validate" required>
    <label for="image">URL image</label>
    <span class="helper-text" data-error="Enter ural image"></span>
</div>

<input type="hidden" name="id" value="{{course.id}}">
<button type="submit" class="btn btn-primary">Add course</button>
</form>

<form action="/courses/remove" method="POST">
<input type="hidden" name="id" value="{{ course.id }}">
    <button class="btn red">Delete course</button>
</form>